<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情页</title>
    <link rel="stylesheet" href="../static/css/detail.css">
</head>
<body>
    <!-- 1.头部区域开始啦 -->
    <div class="header w">
        <!-- logo部分 -->
        <div class="logo">
            竞赛信息系统
        </div>
        <!-- 导航栏部分 nav -->
        <div class="nav">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="#">竞赛</a></li>
                <li><a href="findMate.html">队友</a></li>
            </ul>
        </div>
        <!-- 搜索模块 -->
        <div class="search">
            <input type="text" placeholder="输入关键词">
            <button> </button>
        </div>
        <!-- 用户模块 -->
        <div class="user">
            <a href="mypage.html"> 我的主页</a>
        </div>
    </div>
    <!--下划线-->
    <div class="line"></div>
    <!--竞赛大图-->
    <div class="w picture"></div>
    <!--下划线-->
    <div class="line"></div>
    <!--信息选择-->
    <div class="w">
        <ul class="chapter">
            <li><a href="#1">竞赛信息</a></li>
            <li><a href="#2">招募信息</a></li>
            <li><a href="#">进入报名</a></li>
        </ul>
    </div>
    <!--下划线-->
    <div class="line"></div>
    <!--信息-->
    <div class="w infor">
        <h1> 大标题</h1>
        <h2 id="1">竞赛信息</h2>
        <h3>竞赛介绍</h3>
        <p>#</p>
        <h3>一.组织机构</h3>
        <p>#</p>
        <h3>二.参赛对象</h3>
        <p>#</p>
        <h3>三.参赛形式,规则和纪律</h3>
        <p>#</p>
        <h3>四.时间及具体安排</h3>
        <p>#</p>
        <h3>五.评测标准</h3>
        <p>#</p>
        <h3>六.大赛奖励</h3>
        <p>#</p>
        <h3>七.参赛费用</h3>
        <p>#</p>
        <h2 id="2">招募信息</h2>

    </div>
</body>
</html>