<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情页</title>
    <link rel="stylesheet" th:href="@{/css/detail.css}">
</head>
<body>
    <!-- 1.头部区域开始啦 -->
    <div th:replace="~{Commens/commens::Main_siderbar}"></div>
    <!--下划线-->
    <div class="line"></div>
    <!--竞赛大图-->
    <div class="w picture">
        <!--    图片-->
        <img th:src="${cpt.getUrl()}" th:alt="${cpt.getName()}">
    </div>
    <!--下划线-->
    <div class="line"></div>
    <!--信息选择-->
    <div class="w">
        <ul class="chapter">
            <li><a href="#1">竞赛信息</a></li>
            <li><a href="findmate.html">招募信息</a></li>
            <li><a href="#">进入报名</a></li>
        </ul>
    </div>
    <!--下划线-->
    <div class="line"></div>


<!--    -->
    <!--信息-->
    <div class="w infor" th:text="${cptContent.getContent()}">

    </div>
</body>
</html>