<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>寻找队友</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="header w">
        <!-- logo部分 -->
        <div class="logo">
            竞赛信息系统
        </div>
        <!-- 导航栏部分 nav -->
        <div class="nav">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="#">竞赛</a></li>
                <li><a href="#">队友</a></li>
            </ul>
        </div>
        <!-- 搜索模块 -->
        <div class="search">
            <input type="text" placeholder="输入关键词">
            <button></button>
        </div>
        <!-- 用户模块 -->
        <div class="user">
            <a href="mypage.html"> 我的主页</a>
        </div>
    </div>
    <div class="box w">
        <div class="box-hd">
            <h3>队友推荐</h3>
            <a href="#">查看全部</a>
        </div>
        <div class="box-bd">
            <ul class="clearfix">
                <li>
                    <em>
                        <img src="../static/image/hot.png" alt="">
                    </em>
                    <img src="#" alt="">
                    <h4>
                        #
                    </h4>
                    <div class="info">
                        <span>高级</span> • 1125人浏览
                    </div>
                </li>
                <li>
                    <em>
                        <img src="../static/image/hot.png" alt="">
                    </em>
                    <img src="#" alt="">
                    <h4>
                        #
                    </h4>
                    <div class="info">
                        <span>高级</span> • 1125人浏览
                    </div>
                </li>
                <li>
                    <em>
                        <img src="../static/image/hot.png" alt="">
                    </em>
                    <img src="#" alt="">
                    <h4>
                        #
                    </h4>
                    <div class="info">
                        <span>高级</span> • 1125人浏览
                    </div>
                </li>
                <li>
                    <em>
                        <img src="../static/image/hot.png" alt="">
                    </em>
                    <img src="#" alt="">
                    <h4>
                        #
                    </h4>
                    <div class="info">
                        <span>高级</span> • 1125人浏览
                    </div>
                </li>
                <li>
                    <em>
                        <img src="../static/image/hot.png" alt="">
                    </em>
                    <img src="#" alt="">
                    <h4>
                        #
                    </h4>
                    <div class="info">
                        <span>高级</span> • 1125人浏览
                    </div>
                </li>
                <li>
                    <img src="#" alt="">
                    <h4>
                        #
                    </h4>
                    <div class="info">
                        <span>高级</span> • 1125人浏览
                    </div>
                </li>
                <li>
                    <img src="#" alt="">
                    <h4>
                        #
                    </h4>
                    <div class="info">
                        <span>高级</span> • 1125人浏览
                    </div>
                </li>
                <li>
                    <img src="#" alt="">
                    <h4>
                        #
                    </h4>
                    <div class="info">
                        <span>高级</span> • 1125人浏览
                    </div>
                </li>
                <li>
                    <img src="#" alt="">
                    <h4>
                        #
                    </h4>
                    <div class="info">
                        <span>高级</span> • 1125人浏览
                    </div>
                </li>
                <li>
                    <img src="#" alt="">
                    <h4>
                        #
                    </h4>
                    <div class="info">
                        <span>高级</span> • 1125人浏览
                    </div>
                </li>

            </ul>
        </div>
    </div>
</body>
</html>