<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>寻找队友</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/findmatetext.js"></script>

</head>
<body>
<div th:replace="~{Commens/commens::Main_siderbar}"></div>
<div class="box w" id="xuhua">
    <div class="box-hd">
        <h3>队友推荐</h3>
        <a href="#">查看全部</a>
    </div>
    <div class="box-bd">
        <ul class="clearfix  liteam">
            <tr th:each="mate:${mates}">
                <li>
                    <em>
                        <img th:src="@{/image/hot.png}" alt="">
                    </em>
                    <img src="#" alt="">
                    <h4 th:text="'姓名:'+${mate.getUsername()}"></h4>
                    <h4 th:text="'等级:'+${mate.getGrade()}"></h4>
                    <h4 th:text="'专业:'+${mate.getMajor()}"></h4>
                    <div th:switch="${mate.getSex()}">
                        <h4 th:case=1>性别:男</h4>
                        <h4 th:case=0>性别:女</h4>
                    </div>
                    <div class="info">
                        <span>高级</span> • 1125人浏览
                    </div>
                    <button class="invBtn inviteBtn" id="invBtn1" th:userId="${mate.getUserId()}">邀请</button>
                </li>


            </tr>
        </ul>
    </div>

    <div class="box-hd">
        <h3>队伍推荐
            <!--            <button class="creatTeam" id="showH">创建队伍</button>-->
        </h3>
        <a href="#">查看全部</a>
    </div>
    <div class="box-bd">
        <ul class="clearfix liteam">

            <tr th:each="team:${teams}">
                <li>
                    <em>
                        <img src="..static/image/hot.png" alt="">
                    </em>
                    <h4 th:text="'队伍编号：'+${team.getTeamid()}"></h4>
                    <h4 th:text="'队伍名称：'+${team.getTeamName()}"></h4>
                    <h4 th:text="'比赛名称：'+${team.getName()}"></h4>
                    <div>
                        <h4 th:each="individual:${team.getTeamUsers()}"
                            th:text="'成员：'+ ${individual.getUsername()}">

                        </h4>
                    </div>

<!--                    <div class="info">-->
<!--                        <span>高级</span> • 1125人浏览-->
<!--                    </div>-->
                    <button th:teamid="${team.getTeamid()}" class="joinBtn inviteBtn pos">加入</button>
                </li>
            </tr>
        </ul>
        <div id="showIn">
            <label>队伍编号</label><input type="text">
            <label>队伍名称</label><input type="text">
            <label>比赛名称</label><input type="text">
            <label>队伍成员</label><input type="text">
            <button class="inviteBtn" id="sure">确定</button>
        </div>
    </div>
</div>

<div id="showTe">
    <textarea id="messageTxt" rows="2" cols="22"></textarea><br>
    <button class="sentBtn inviteBtn" id="sent">发送</button>
    <button class="cancelBtn inviteBtn" id="cancel">取消</button>
</div>
</body>
</html>