<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>寻找队友</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <!--    <script src="../static/js/findmatetext.js"></script>-->
    <script>
        window.onload = function () {
            document.getElementById("showBtn").onclick = function () {
                document.getElementById("showTe").style.display = 'block';
            }
        }
    </script>
</head>
<body>
<div class="header w">
    <!-- logo部分 -->
    <div class="logo">
        竞赛信息系统
    </div>
    <!-- 导航栏部分 nav -->
    <div class="nav">
        <ul>
            <li><a th:href="@{/index}">首页</a></li>
            <li><a href="#">队友</a></li>
        </ul>
    </div>
    <!-- 搜索模块 -->
    <div class="search">
        <input type="text" placeholder="输入关键词">
        <button></button>
    </div>
    <!-- 用户模块 -->
    <div class="user">
        <a th:href="@{/mypage}"> 我的主页</a>
    </div>
</div>
<div class="box w">
    <div class="box-hd">
        <h3>队友推荐</h3>
        <a href="#">查看全部</a>
    </div>
    <div class="box-bd">
        <ul class="clearfix">
            <tr th:each="mate:${mates}">
                <li>
                    <em>
                        <img th:src="@{/image/hot.png}" alt="">
                    </em>
                    <img src="#" alt="">
                    <h4 th:text="'姓名:'+${mate.getUsername()}"></h4>
                    <h4 th:text="'等级:'+${mate.getGrade()}"></h4>
                    <h4 th:text="'专业:'+${mate.getMajor()}"></h4>
                    <div th:switch="${mate.getSex()}">
                        <h4 th:case=1>性别:男</h4>
                        <h4 th:case=0>性别:女</h4>
                    </div>
                    <div class="info">
                        <span>高级</span> • 1125人浏览
                    </div>
                    <button class="inviteBtn" id="showBtn">邀请</button>
                    <div id="showTe">
                        <textarea rows="2" cols="20"></textarea>
                        <button class="inviteBtn">发送</button>
                    </div>

                </li>
            </tr>
        </ul>
    </div>

    <div class="box-hd">
        <h3>队伍推荐</h3>
        <a href="#">查看全部</a>
    </div>
    <div class="box-bd">
        <ul class="clearfix">
            <tr th:each="team:${teams}">
                <li>
                    <em>
                        <img src="..static/image/hot.png" alt="">
                    </em>
                    <h4 th:text="'队伍编号：'+${team.getTeamid()}"></h4>
                    <h4 th:text="'队伍名称：'+${team.getTeamName()}"></h4>
                    <h4 th:text="'比赛名称：'+${team.getName()}"></h4>
                    <div class="divTablecss1">
                        <table>
                            <tr>
                                <th>编号</th>
                                <th>名称</th>
                            </tr>
                            <tr th:each="user:${team.getTeamUsers()}">
                                <td>
                                    <td th:text="${user.getUserId()}"></td>
                                    <td th:text="${user.getUsername()}"></td>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="info">
                        <span>高级</span> • 1125人浏览
                    </div>
                    <button class="inviteBtn">加入</button>
                </li>
            </tr>
        </ul>
    </div>
</div>
</body>
</html>