<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/JaScript.js"></script>
</head>

<body>
<!-- 1.头部区域开始啦 -->
<div class="header w">
    <!-- logo部分 -->
    <div class="logo">
        竞赛信息系统
    </div>
    <!-- 导航栏部分 nav -->
    <div class="nav">
        <ul>
            <li><a th:href="@{/index}">首页</a></li>
            <li><a th:href="@{/findmate}">队友</a></li>
        </ul>
    </div>
    <!-- 搜索模块 -->
    <div class="search">
        <input type="text" placeholder="输入关键词">
        <button></button>
    </div>
    <!-- 用户模块 -->
    <div class="user">
        <a th:href="@{/mypage}"> 我的主页</a>
    </div>

    <div class="user">
        <a th:href="@{/news}" target="_blank"><img src="image/bell.jpg" alt="消息"></a>
    </div>
</div>
<!-- 头部区域结束啦 -->
<!-- 2. banner部分start -->
<div class="banner1">
    <div class="w">
        <!-- 导航栏 -->
        <div class="subnav">
            <ul>
                <li><a href="#" class="li1">商业创业 <span> &gt; </span></a></li>
                <li><a href="#" class="li2">兴趣爱好 <span> &gt; </span> </a></li>
                <li><a href="#" class="li3">广告公益 <span> &gt; </span> </a></li>
                <li><a href="#" class="li4">科技创新 <span> &gt; </span> </a></li>
                <li><a href="#" class="li5">学科技能 <span> &gt; </span> </a></li>
                <li><a href="#" class="li6">其他比赛 <span> > </span> </a></li>
                <li><a href="#" class="li7">公益征集 <span> &gt; </span> </a></li>
                <li><a href="#" class="li8">青年机遇 <span> &gt; </span> </a></li>
                <li><a href="#" class="li9">期末冲刺 <span> &gt; </span> </a></li>
            </ul>
        </div>
        <!--轮番图-->
        <div class="banner">
            <!--无序列表承载轮播的图片-->
            <ul class="img" >
                <li><a href="http://data.sd.gov.cn/cmpt/sd/home.html" target="_blank"><img src="http://cdn4.52jingsai.com/211217/20211217140621243.png" alt="DC"></a></li>
                <li><a href="http://www.nciecc.com/words.php" target="_blank"><img src="https://cdn.jsdelivr.net/gh/Spencer6-7/tupic/202112191308671.png"/></a></li>
                <li><a href="http://data.sd.gov.cn/cmpt/sd/home.html" target="_blank"><img src="https://cdn.jsdelivr.net/gh/Spencer6-7/tupic/202112191309545.png"/></a></li>
                <li><a href="http://www.aids0.com/index.php" target="_blank"><img src="https://cdn.jsdelivr.net/gh/Spencer6-7/tupic/202112191311261.png"/></a></li>
                <li><a href="http://www.52jingsai.com/article-15846-1.html" target="_blank"><img src="http://cdn4.52jingsai.com/211214/20211214142307610.png" alt="期末帮"></a></li>
                <li><a href="http://www.52jingsai.com/article-11144-1.html" target="_blank"><img src="http://cdn4.52jingsai.com/211201/20211201163458606.gif" alt="7天新媒体实训营"></a></li>
                <!--
                <li><a href="http://www.52jingsai.com/article-15568-1.html" target="_blank"><img class="pic" src="http://cdn4.52jingsai.com/211102/20211102111503820.jpg" alt="我爱竞赛网校园大使精英社招募令"></a></li>
                <li><a href="http://www.52jingsai.com/article-14940-1.html" target="_blank"><img class="pic" src="http://cdn4.52jingsai.com/211111/20211111154925830.jpg" alt="2021年第三届全国高校创新英语翻译赛"></a></li>
                <li><a href="http://www.52jingsai.com/article-15030-1.html" target="_blank"><img class="pic" src="http://cdn4.52jingsai.com/210902/20210902165016555.jpg" alt="第三届全国大学生语言文字能力大赛"></a></li>
                -->
            </ul>
            <!--用来放置圆点具体实施在js代码中呈现-->
            <ul class="num"></ul>
            <!--左右点击按钮-->
            <div class="btn">
                <span class="prev"><</span>
                <span class="next">></span>
            </div>
        </div>
    </div>
</div>

<!-- banner部分end -->
<!-- 3.推荐模块开始 -->
<div class="goods w">
    <h3>比赛分类</h3>
    <ul>
        <li th:each="interest : ${interests}">
            <a th:class="${active == interest? 'nav-link-active':'nav-link'}" th:href = "@{'/index/'+ ${interest}}" th:text="${interest}"></a>
        </li>
    </ul>
    <a href="#" class="mod">修改兴趣</a>
</div>
<!-- 推荐模块结束 -->
<!-- 4. box核心内容区域开始 -->
<div class="box w">
    <div class="box-hd">
        <h3>竞赛推荐</h3>
        <a href="#">查看全部</a>
    </div>
    <div class="box-bd">
        <ul class="clearfix" >
            <li th:each="cpt : ${cpts}" class="cptrecd">
                <em>
                    <img src="/image/hot.png">
                </em>
                <img src="#" alt="">
                <a class="hd" th:href = "@{'/detail/' + ${cpt.getCptId()}}" th:text="${cpt.getName()}"></a>
                <div class="ct">
                    <h4 th:text="'报名截止时间：'+${#calendars.format(cpt.getTime(),'yyyy-MM-dd')}"></h4>
                    <h4 th:text="'推荐指数：'+${cpt.getEvaluation()}" ></h4>
                    <h4 th:text="'分类：'+${cpt.getCategory()}"></h4>
                </div>
                <div class="info">
                    <span>高级</span> • 1125人关注
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- 4. box核心内容区域结束 -->
<div class="footer-wrap v-4-2">
    <div class="footer other">
        <div class="common-box footer-box">
            <div class="fl ft-info-box">
                <div class="ft-tit" title="关于我们">关于我们</div>
                <ul class="ft-list">
                    <li class="item">
                        <a href="#" title="了解我们" target="_blank" rel="nofollow">了解我们</a>
                    </li>
                    <li class="item">
                        <a href="#" title="加入我们" target="_blank" rel="nofollow">加入我们</a>
                    </li>
                    <li class="item">
                        <a href="#" title="服务协议" target="_blank" rel="nofollow">服务协议</a>
                    </li>
                </ul>
            </div>
            <div class="fl ft-info-box">
                <div class="ft-tit" title="帮助中心">帮助中心</div>
                <ul class="ft-list">
                    <li class="item">
                        <a href="#" title="常见问题" target="_blank" rel="nofollow">常见问题</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>