<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <meta name="theme-color" content="#ffc91d">
    <link rel="icon" href="static/img/favicon.ico">
    <link href="" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<!-- 1.头部区域开始啦 -->
<div class="header w">
    <!-- logo部分 -->
    <div class="logo">
        竞赛信息系统
    </div>
    <!-- 导航栏部分 nav -->
    <div class="nav">
        <ul>
            <li><a th:href="@{/index}">首页</a></li>
            <li><a th:href="@{/detail}">竞赛</a></li>
            <li><a th:href="@{/findmate}">队友</a></li>
        </ul>
    </div>
    <!-- 搜索模块 -->
    <div class="search">
        <input type="text" placeholder="输入关键词">
        <button></button>
    </div>
    <!-- 用户模块 -->
    <div class="user">
        <a th:href="@{/mypage}"> 我的主页</a>
    </div>
</div>
<aside class="sidebar">
    <div class="avatar">
        <img src="static/image/user.png" title="user">
    </div>
    <nav class="nav">
        <a href="index.html">首页</a>
        <a href="#info">资料</a>
        <a href="#skills">技能</a>
        <a href="#works">竞赛</a>
        <a href="#story">经历</a>
    </nav>
</aside>
<main>
    <section id="info">
        <div class="wrap">
            <h2 class="title">个人资料</h2>
            <div class="row">
                <div class="col-l-4">
                    <p>姓名：</p>
                    <p>性别：</p>
                    <p>年龄：</p>
                    <p>专业：</p>
                </div>
                <div class="col-l-4">
                    <p>QQ：</p>
                    <p>邮箱：<a href="#"></a></p>
                </div>
                <div class="col-l-4">
                    <p></p>
                </div>
            </div>
        </div>
    </section>
    <section id="skills">
        <div class="wrap">
            <h2 class="title">掌握的技能</h2>
            <div class="row scrollable">
                <div class="col-s-6 col-m-4 center-fixed">
                    <div class="skills-icon">
                        <i class="fa fa-html5"></i>
                    </div>
                    <div class="skills-title">
                        <h3></h3>
                        <p>##</p>
                    </div>
                </div>
                <div class="col-s-6 col-m-4 center-fixed">
                    <div class="skills-icon">
                        <i class="fa fa-css3"></i>
                    </div>
                    <div class="skills-title">
                        <h3>CSS3</h3>
                        <p></p>
                    </div>
                </div>
                <div class="col-s-6 col-m-4 center-fixed">
                    <div class="skills-icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="skills-title">
                        <h3>...</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="works">
        <div class="wrap">
            <h2 class="title">个人竞赛</h2>
            <div class="row">
                <div class="col-s-6">
                    <div class="works-item">
                        <img alt="" src="" bk-image="active">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="story">
        <div class="wrap">
            <h2 class="title">个人经历</h2>
            <div class="row">
                <div class="col-m-8">
                    <ul class="timeline">
                        <li># </li>
                        <li># </li>
                        <li># </li>
                        <li># </li>
                        <li># </li>
                        <li># </li>
                        <li>---</li>
                    </ul>
                </div>
                <div class="col-m-4 center-fixed">
                    <img alt="" src="" bk-image="active">
                </div>
            </div>
        </div>
    </section>

</main>
<script src="static/kico.js"></script>
<script src="static/paul.js"></script>
</body></html>