<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <meta name="theme-color" content="#ffc91d">
    <link rel="icon" href="static/img/favicon.ico">
    <link th:href="@{css/kico.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/paul.css}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<!-- 1.头部区域开始啦 -->
<div th:replace="~{Commens/commens::Main_siderbar}"></div>

<aside class="sidebar">
    <div class="avatar">
        <img src="image/user.png" title="user">
    </div>
    <nav class="nav">
        <a href="index.html">首页</a>
        <a href="#info">资料</a>
        <a href="#story">经历</a>
        <a href="#team">队伍</a>
    </nav>
</aside>
<main>
    <div class="white-box">
    <section id="info">
        <div class="wrap">
            <h2 class="title">个人资料</h2>
            <div class="row">
                <div class="col-l-4">
                    <p th:text="'姓名：'+${user.getUsername()}"></p>
                    <p th:text="${user.getSex() == 1}?'性别：男':'性别：女'"></p>
                    <p th:text="'年级：'+${user.getGrade()}"></p>
                    <p th:text="'专业：'+${user.getMajor()}"></p>
                </div>
                <div class="col-l-4">
                    <p th:text="'QQ：'+${user.getQq()}"></p>
                    <p th:text="'邮箱：'+${user.getQq()}+'@qq.com'"><a href="#"></a></p>
                    <p th:text="'手机号：'+${user.getUserId()} + '123465'"></p>
                </div>
            </div>
        </div>
    </section>

    <section id="story">
        <div class="wrap">
            <h2 class="title">个人经历</h2>
            <div class="row">
                <div class="col-m-8">
                    <ul class="timeline">
                        <p th:text="${user.getIntroduction()}"> </p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </ul>
                </div>
                <div class="col-m-4 center-fixed">
                    <img alt="" src="" bk-image="active">
                </div>
            </div>
        </div>
    </section>
    <section id="team">
        <div class="wrap">
            <h2 class="title">我的队伍</h2>
            <div class="row">
                <div class="col-s-6">
                    <div th:each="team : ${teams}" >
                        <p th:text = "'队伍ID：' + ${team.getTeamid()}"></p>
                        <p th:text = "'比赛名称：'+ ${team.getName()}"></p>
                        <p th:text = "'队伍名称：'+${team.getTeamName()}"></p>
                    </div>


                    <div class="works-item">
                        <img alt="" src="" bk-image="active">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    <footer>
        <p>
            @2021 By hnucisys
        </p>
    </footer>
</main>

<script src="static/kico.js"></script>
<script src="static/paul.js"></script>
</body></html>