<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>用户登录</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}"/>
    <script type="text/javascript" th:src="@{/js/confirmpw.js}"></script>
</head>
<body>
<div class="login">
    <h2>用户注册</h2>
    <form th:action="@{/adduser}" method = post>
        <div class="login_box">
            <input type="text" name="username" required/><label>用户名</label>
        </div>
        <div class="login_box">
            <input type="text" name="major" required/><label>专业</label>
        </div>
        <div class="login_box">
            <input type="text" name="qq" required/><label>qq</label>
        </div>
        <div class="login_box">
            <p><input type="password" name="password" id="password" required/><label>密码</label><span id="tishi"></span>
            </p>
        </div>
        <div class="login_box">
            <input type="password" name="repassword" id="repassword" onkeyup="validate()" required/><label>确认密码</label>
        </div>
        <a style="position: absolute;left: 43%;">
            <input style="color:white;background-color:transparent;border: 0;font-size:1em;" type="submit"  value="注册"/>
            <span class="first"></span>
            <span class="second"></span>
            <span class="third"></span>
            <span class="forth"></span>
        </a>
    </form>
    <div class="signup">
        <p>已有账号&nbsp;<a th:href="@{/login}">立即登录</a></p>
    </div>
</div>

<script type="text/javascript" src="../../../../../../springboot-learning-master/asserts/js/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            datasets: [{
                data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>


</body>
</html>
