<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.codeslogan.mapper.CptContentMapper">
<!--    根据比赛ID查询具体的内容-->
    <select id="queryCptContentById" resultType="CptContent" parameterType="int">
        select * from cpt_content where cptid = #{id}
    </select>
</mapper>