<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.codeslogan.mapper.TeamUserMapper">
    <!--查询所有的组队信息-->
    <select id="queryAll" resultType="TeamUser" >
        select * from hnucisys.team_user;
    </select>

    <!--根据队伍id查询组队信息-->
    <select id="queryByTeamId" resultType="TeamUser" parameterType="int">
        select * from hnucisys.team_user where teamid = #{teamId};
    </select>

    <!--根据用户id查询组队信息-->
    <select id="queryByUserId" resultType="TeamUser" parameterType="int">
        select * from hnucisys.team_user where userid = #{userId};
    </select>

    <!--插入组队信息-->
    <insert id="save" parameterType="TeamUser">
        insert into hnucisys.team_user(teamid, userid, role, createtime, updatetime)
        values(#{teamId}, #{userId}, #{role}, #{createTime}, #{updateTime});
    </insert>

    <!--删除组队信息-->
    <delete id="delTeamUserById" parameterType="int">
        delete from hnucisys.team_user where tuid = #{tuId};
    </delete>
    <!--通过用户id查询已参加-->
    <select id="queryTeamInfoByUserId" resultType="TeamExhibition" parameterType="int">
        SELECT team.`teamid` AS `teamid`,team.`teamname`AS `teamName` ,competition.`name`AS `name`
        FROM hnucisys.`team`,hnucisys.`competition` WHERE teamid =
                                                          (SELECT teamid FROM hnucisys.team_user WHERE userid = #{userId}) AND competition.`cptid` = team.`cptid`
    </select>

    <select id="queryBytuid" resultType="TeamUser">
        select * from where tuid = #{tuid}
    </select>

    <update id="updateRoleBytuid" parameterType="int">
        update hnucisys.team_user set team_user.role = 1 where tuid = #{tuid}
    </update>

</mapper>