<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.codeslogan.mapper.UserMapper">
    <!--    查询语句 id相当与要重写的方法名-->
    <select id="queryUserByName" resultType="User" parameterType="String">
        select * from hnucisys.User where username = #{username}
    </select>

    <select id="queryMatesByGrade" resultType="User" parameterType="int">
        select * from hnucisys.User where grade >= #{grade}
    </select>

    <insert id="AddUser" parameterType="User" >
        INSERT INTO hnucisys.user(username,PASSWORD,grade,major,sex,qq,introduction,createtime,updatetime,perms)
        VALUES(#{username},#{password},#{grade},#{major},#{sex},#{qq},#{introduction},#{createtime},#{updatetime},'user');
    </insert>

</mapper>
