<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.codeslogan.mapper.UserMapper">
    <!--    查询语句 id相当与要重写的方法名-->
    <select id="queryUserByName" resultType="User" parameterType="String">
        select *
        from hnucisys.User
        where username = #{username}
    </select>

    <select id="queryMatesByGrade" resultType="User" parameterType="int">
        select *
        from hnucisys.User
        where grade >= #{grade}
    </select>

    <select id="queryTeamUsersByTeamID" resultType="User" parameterType="int">
        select User.*
        from hnucisys.User, hnucisys.team_user
        where User.userid = team_user.userid and team_user.teamid = #{id}
    </select>

    <insert id="AddUser" parameterType="User">
        INSERT INTO hnucisys.user(username, password, grade, major, sex, qq, introduction, createtime, updatetime,
                                  perms)
        VALUES (#{username}, #{password}, #{grade}, #{major}, #{sex}, #{qq}, #{introduction}, #{createtime},
                #{updatetime}, 'user');
    </insert>

    <select id="queryUserById" resultType="User" parameterType="int">
        select * from hnucisys.user where userid = #{id}
    </select>

    <delete id="delUserById"  parameterType="int">
        delete from hnucisys.user where userid = #{id}
    </delete>

    <select id="queryAllUser" resultType="User">
        select * from hnucisys.user
    </select>

    <insert id="saveUser" parameterType="User">
        insert into hnucisys.user(username, password, perms, grade, major, sex, qq, introduction, createtime, updatetime)
        values (#{username}, #{password}, #{perms}, #{grade}, #{major}, #{sex}, #{qq}, #{introduction}, #{createtime},
                #{updatetime});
    </insert>

</mapper>
