<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.codeslogan.mapper.UserMapper">
    <!--    查询语句 id相当与要重写的方法名-->
    <select id="queryUserByName" resultType="User" parameterType="String">
        select * from mybatis.User where username = #{username}
    </select>

</mapper>
